.Dashboard {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Dashboard-title {
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: flex-start;
  margin: 0 0 4em 4em;
  padding-top: 2em;
}

.Dashboard-title-button {
  margin-left: 2em;
  color: white;
}

.Dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
  padding: 0 4em;
}

.Dashboard-grip-item {
  background-color: white;
  color: black;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}